# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.12.5

    working_directory: /go/src/github.com/orion-labs/genkeyset
    environment:
      GO111MODULE: "on"
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...
#      - run: bash <(curl -s https://codecov.io/bash)
